html::-webkit-scrollbar {
    display: none;
}

.navbar {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
}

.nav-menu {
    position: absolute;
    list-style-type: none;
    justify-content: center;
    display: flex;
    gap: 50px;
    margin: 30px;
    right: 30px;

}

.logo {
    height: 190px;
    width: 140px;
    opacity: 0.8;
    position: absolute;
    top: -5vh;
    left: 30px;
}

li a {
    font-family: Arial, Helvetica;
    font-weight: 550;
    font-size: 15px;
    color: white;
    text-decoration: none;
    transition: opacity 0.5s ease;
    opacity: 0.8;
}

li a:hover {
    font-size: 21px;
    opacity: 1.2;
}

.hero-section {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: white;

}

.hero-cover {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    object-position: center;
}

.title {
    position: absolute;
    z-index: 3;
    height: 60px;
    width: 500px;
    bottom: 250px;
    left: 40px;
    color: white;
    line-height: 0.2;
}

.main-title1 {
    font-size: 70px;
}

.main-title2 {
    font-size: 70px;
}

.sec-title {
    font-size: 17px;
    margin-left: 4px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}

.content {
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(30deg, rgb(153, 4, 4), rgb(185, 2, 2), rgb(235, 3, 3));
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

.container {
    position: absolute;
    top: 190px;
    color: rgba(240, 248, 255, 0.911);
    text-align: center;
    z-index: 4;
    height: 400px;
    width: 50%;
    font-size: 40px;
}

.cont-desc {
    position: absolute;
    height: 50vh;
    width: 100%;
    text-align: center;

}

.line-fil {
    width: 250px;
    height: 1px;
    background: rgba(245, 233, 214, 0.6);
    margin-top: 449px;
}

.konteks {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(40px);
    transition: opacity 0.8s ease, filter 0.8s ease, transform 0.8s ease;
}

.konteks.active {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.head {
    padding-bottom: 20px;
    font-size: 70px;
    padding-right: 15px;
}

.type-art {
    position: relative;
    width: 100%;
    height: 600vh;
    background: #f1eadd;
}

.teks-hed {
    position: absolute;
    font-weight: 700;
    left: 53px;
    top: 220px;
    font-size: 40px;
    letter-spacing: 0.04em;
    color: #041b04;
}

.teks-nus {
    position: absolute;
    font-size: 70px;
    color: #041b04;
    left: 50px;
    top: 235px;
}

.sub-teks {
    position: absolute;
    color: #041b04;
    left: 53px;
    top: 350px;
    height: 20px;
    width: 550px;
}

.pop {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(40px);
    transition: opacity 0.8s ease, filter 0.8s ease, transform 0.8s ease;
}

.pop.active {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.musikal {
    height: 390vh;
    width: 100%;
    background: rgb(2, 2, 63);
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    position: absolute;
    top: 700px;
}

.two-line {
    height: 140px;
    width: 160px;
    margin: 120px 50px 50px;
}

.two-line h3 {
    font-size: 60px;
    color: rgb(165, 208, 248);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.desc {
    position: absolute;
    height: 40vh;
    width: 40%;
    left: 50px;
    top: 250px;
    color: rgb(150, 158, 165);
    text-align: justify;
    z-index: 4;
}

.card-musik {
    height: 45vh;
    width: 30%;
    position: absolute;
    background: linear-gradient(30deg, rgb(2, 74, 230), rgb(41, 114, 250), rgb(29, 152, 253));
    border-radius: 20px;
    right: 200px;
    top: 150px;
    overflow: hidden;
    border: 5px solid blue;
}

.video-inner {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.show {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.card-musik button {
    color: white;
    border: none;
    border-radius: 90px;
    font-size: 20px;
    padding: 4px 10px;
    cursor: pointer;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}

.prev {
    right: 8px;
}

.next {
    right: 8px;
    height: 30px;
    width: 30px;
}

.tari {
    height: 300vh;
    width: 100%;

    overflow: hidden;
    position: absolute;
    top: 1200px;
}

.tari-head {
    height: 140px;
    width: 300px;
    margin-top: 250px;
    margin-left: 986px;
}

.tari-head h3 {
    text-align: right;
    font-size: 60px;
    color: rgb(165, 208, 248);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tari-desc {
    position: absolute;
    height: 40vh;
    width: 40%;
    right: 50px;
    color: rgb(150, 158, 165);
    text-align: right;
    z-index: 4;
}

.card-tari {
    height: 45vh;
    width: 30%;
    position: absolute;
    background: linear-gradient(30deg, rgb(2, 74, 230), rgb(41, 114, 250), rgb(29, 152, 253));
    border-radius: 20px;
    left: 160px;
    margin-top: -130px;
    overflow: hidden;
    border: 5px solid blue;
}

.card-tari button {
    color: white;
    border: none;
    border-radius: 90px;
    font-size: 20px;
    padding: 4px 10px;
    cursor: pointer;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}

.teater {
    height: 300vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 1700px;
}

.teater-head {
    height: 140px;
    width: 300px;
    margin-top: 250px;
    margin-left: 50px;
}

.teater-head h3 {
    padding: 200px 0 0 0;
    font-size: 60px;
    color: rgb(165, 208, 248);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.teater-desc {
    position: absolute;
    height: 40vh;
    width: 40%;
    left: 50px;
    top: 600px;
    text-align: justify;
    color: rgb(150, 158, 165);
}

.card-teater {
    height: 45vh;
    width: 30%;
    position: absolute;
    background: linear-gradient(30deg, rgb(2, 74, 230), rgb(41, 114, 250), rgb(29, 152, 253));
    border-radius: 20px;
    right: 200px;
    margin-top: 90px;
    overflow: hidden;
    border: 5px solid blue;
}

.card-teater button {
    color: white;
    border: none;
    border-radius: 90px;
    font-size: 20px;
    padding: 4px 10px;
    cursor: pointer;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}

.rupa {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 2500px;

}

.rupa h3 {
    margin-top: 150px;
    text-align: center;
    font-size: 60px;
    color: rgb(165, 208, 248);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.rupa-desc {
    position: absolute;
    height: 40vh;
    width: 40%;
    margin-left: 405px;
    bottom: 170px;
    text-align: center;
    color: rgb(150, 158, 165);
}

.slide {

    width: 90%;
    display: flex;
    margin-top: 150px;
    margin-left: 70px;
    overflow-x: auto;

}

.slide::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 0 auto;
    animation: spin 5s infinite linear;
}

.kard {
    flex: 0 0 12em;
    height: 12em;
    padding: 1em;
    background: aliceblue;
    border-radius: 1em;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.kard img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.benner {
    position: absolute;
    width: 100%;
    height: 100vh;
    bottom: 30px;
    background: url(asset/nature.jpg);
    background-size: cover;
    border-radius: 20px;
    background-attachment: fixed;
}

.provins {
    position: relative;
    width: 100%;
    height: 300vh;
    background-color: #f1eadd;
}

.provins-title {
    position: absolute;
    text-align: left;
    font-size: 40px;
    color: rgb(17, 22, 27);
    width: 200px;
    line-height: 0.8;
    left: 50px;
    top: 115px;
}

.provins-title span {
    font-size: 60px;
}

.provins-desc {
    position: absolute;
    height: 40vh;
    width: 50%;
    left: 50px;
    top: 300px;
    text-align: justify;
    color: rgb(17, 22, 27);
}
.wrapp{
    text-align: center;
    color: #e3ef26;
    position: absolute;
    height: 40vh;
    left: 20px;
    top: 130px;
    width: 60%;
}
.title-accor{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}
.accordion{
    top: 700px;
    position: absolute;
    background: linear-gradient(30deg, #06231d, #0c342c, #076653);
    height: 200vh;
    width: 100%;
    border-radius: 21px 21px 0 0;
}
.accorContain{
    position: absolute;
    top: 400px;
    height: auto;
    width: 100%;
    border-radius: 20px 20px 0 0;
    left: 48px;
}
.accordion-header{
    width: 90%;
    background: none;
    border: none;
    padding: 19px 20px;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s ease;
    color: aliceblue;
    font-family: 'Arial Narrow Bold', sans-serif;
    
}
.accordion-header:hover{
    background: linear-gradient(90deg, #e3ef26, #fffdee);
    color: #041b04;
    border-radius: 20px;
}
.icon-accor{
    font-size: 25px;
    font-weight: 600;
    transition: transform 0.3s ease;
}
.accordion-item.active .icon-accor{
    transform: rotate(45deg);
}
.accordion-content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    position: relative;
    background: linear-gradient(45deg, #076653, #e3ef26, #e2fbce);
    border-radius: 20px;
    width: 92%;
}
.accordion-map{
    width: 200px;
    opacity: 0.15;
    position: absolute;
    right: 10px;
    bottom: 0;
    pointer-events: none;
}
.province-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px 16px;
    padding: 0 16px 16px;
    list-style: none;
    
}
.province-grid li {
    font-size: 20px;
    transition: all 0.25s ease;
}

.province-grid li a{
    color: #000000;
}
.about {
    width: 100%;
    height: 150vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #f2e9ff;
    position: relative;
}
.lineA{
    width: 290px;
    height: 1px;
    background: black;
    position: absolute;
    top: 205px;
    margin-left: -50px;
}
.lineB{
    width: 290px;
    height: 1px;
    background: black;
    position: absolute;
    bottom: 76px;
    margin-left: -600px;
}
.about h2{
    position: absolute;
    left: 60px;
    font-size: 120px;
    top: 0px;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -50px;
}
.img-box{
    width: 100px;
    height: 500px;
    margin: 12px;
    border-radius: 50px;
    background: url(asset/jihan.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    transition: width 0.5s;
}
.img-box:nth-child(2){
    background: url(asset/Elgay.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(3){
    background: url(asset/dafa.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(4){
    background: url(asset/mar.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(5){
    background: url(asset/Ale.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(6){
    background: url(asset/aqist.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(7){
    background: url(asset/toriq.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(8){
    background: url(asset/eja.jpg);
    background-size: cover;
    background-position: center;
}
.img-box h3{
    color: rgb(223, 30, 104);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    position: absolute;
    bottom: 0;
    left: 33px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}
.img-box:hover{
    width: 300px;
    cursor: pointer;
}
.img-box:hover h3{
    opacity: 1;
    bottom: 20px;
}
.kotlin{
    text-align: center;
    position: absolute;
    bottom: -150px;
    right: 100px;
    font-size: 120px;
}
footer {
    width: 100%;
    height: 60vh;
    background: #000000;
    position: relative;
}
.copyrigth{
    color: #ffffffa6;
    position: absolute;
    bottom: 0;
    left: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}
.contact{
    position: absolute;
    color: white;
    font-size: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: -70px;
    left: 50px;

}
.production{
    color: #ffffffa6;
    position: absolute;
    bottom: -3px;
    right: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}
.sosmed{
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100px;
    width: 120px;
    bottom: 0;
    left: 45%;
    filter: invert(1);
    gap: 20px;
    
}
.sosmed img{
    height: 28px;
    width: 28px;
}
.menu-cont{
    position: absolute;
    right: 50px;
    top: 20px;
    text-align: right;
}
.menu-cont li a{
    font-size: 40px;
    
}
.aceh-cover{
    height: 100vh;
    width: 100%;
    position: relative;

}
.aceh-cover img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}